body {
	background-color: #333;
	color: #BBB;
}

h1 {
	color: #DDD;
}




.navbar {
	background-color: #111;
	border: 5px solid #222;
	border-radius: 8px;
	color: #DDD;
	font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
	padding: 3px;
	text-align: center;

	border-width: 3px;
	border-color: #444;

	position: sticky;
	position: -webkit-sticky;
	top: 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.navbar-nonstick {
	background-color: #111;
	color: #DDD;
	font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
	padding: 3px;
	text-align: center;

	border-width: 3px;
	border-color: #444;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.navbar a {
	text-decoration: none;
}

.navbar-nonstick a {
	text-decoration: none;
}

.navbar-button {
	width: 150px;
	border: 2px solid #444;
	border-radius: 6px;
	cursor: pointer;
	color: #DDD;

	margin-left: 4px;
	margin-right: 4px;
}

.navbar-button:hover {
	background-color: #222;
}


@media only screen and (max-width: 600px) {

	.navbar-button {
		font-size: 9px;
		width: 80px;
		padding: 1px;
		text-align: center;
	}
}




.social-media-flexbox-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.social-media-flexbox-wrapper div {
	width: 320px;
	border: 2px solid black;
}

.social-media-icon {
	width: 100px;
	border-radius: 50%;
}