body {
	background-color: #DDD;
	color: #333;
}

h1 {
	color: #DDD;
}



.navbar {
	background-color: #111;
	color: #DDD;
	font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
	padding: 5px;
	text-align: center;

	position: sticky;
	position: -webkit-sticky;
	top: 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.navbar a {
	text-decoration: none;
}

.navbar-button {
	width: 160px;
	border: 2px solid #444;
	cursor: pointer;
	color: #DDD;
}

.navbar-button:hover {
	background-color: #222;
}




.social-media-flexbox-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.social-media-flexbox-wrapper div {
	width: 320px;
	border: 2px solid black;
}

.social-media-icon {
	width: 100px;
	border-radius: 50%;
}